/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --first-hue: 260;
  --second-hue: 216;
  --first-color: hsl(var(--first-hue), 91%, 64%);
  --first-color-dark: hsl(var(--first-hue), 62%, 20%);
  --title-color: hsl(var(--second-hue), 8%, 85%);
  --text-color: hsl(var(--second-hue), 8%, 75%);
  --body-color: hsl(var(--second-hue), 28%, 12%);
  --container-color: hsl(var(--second-hue), 28%, 15%);
  --white-color: hsl(var(--second-hue), 8%, 100%);

  --first-gradient: linear-gradient(
    150deg,
    var(--first-color) 0%,
    var(--white-color) 100%
  );
  --second-gradient: linear-gradient(
    260deg,
    var(--first-color-dark) 0%,
    var(--first-color) 100%
  );

  /*========== Font family ==========*/
  --body-font: 'Space Grotesk', sans-serif;

  /*========== Font sizes ==========*/
  --big-font-size: 8rem;
  --h1-font-size: 3.75rem;
  --h2-font-size: 3rem;
  --h3-font-size: 1.5rem;
  --larger-font-size: 1.25rem;
  --large-font-size: 1.125rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
}

/* Responsive typography */
@media screen and (max-width: 1208px) {
  :root {
  --big-font-size: 6.25rem;
  --h1-font-size: 2.75rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.25rem;
  --larger-font-size: 1.125rem;
  --large-font-size: 1rem;
  --normal-font-size: o.938rem;
  --small-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-bold);
  line-height: 1.2;
}

p {
  line-height: 1.75;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input,
textarea {
  border: none;
  outline: none;
  background-color: transparent;
}

img {
  display: block;
  max-width: 100%;
  margin: auto;
}

/*=============== Variables Dark theme ===============*/
.light-theme {
   --title-color: hsl(var(--second-hue), 8%, 16%);
  --text-color: hsl(var(--second-hue), 8%, 28%);
  --body-color: hsl(var(--second-hue), 8%, 99%);
  --container-color: hsl(var(--second-hue), 8%, 95%);

  --first-gradient: linear-gradient(
    150deg,
    var(--first-color-dark) 0%,
    var(---color) 100%
  );
}

/*========== 
    Color changes in some parts of 
    the website, in light theme
==========*/
.light-theme .scroll-header {
  box-shadow: 0 4px 4px hsla(var(--first-hue), 0%, 4%, 0.1);
}

.light-theme .nav-menu {
  background-color: hsla(var(--first-hue), 0%, 96%, 0.4);
}

.light-theme .text-gradient  {
  -webkit-text-fill-color: hsla(var(--second-hue), 92%, 15%, 0.2);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 6rem 4rem;
}

.button {
  display: inline-flex;
  background-image: linear-gradient(to bottom, rgba(129, 177, 239, 0.437), rgb(106, 211, 227));
  color: var(--white-color);
  padding: 1.25rem 2rem;
  border-radius: 0.5rem;
  font-weight: var(--font-semi-bold);
  transition: background 0.3s;
}

.button:hover {
  background: linear-gradient(
    260deg,
    var(--first-color) 0%,
    var(--first-color-dark) 100%
  );
}
/*=============== LAYOUT ===============*/
.container {
  max-width: 1320px;
  margin-inline: auto;
  padding-inline: 1.25rem;
}

.grid {
  display: grid;
}
/*=============== HEADER & NAV ===============*/
.header {
  background-color: transparent;
  position: fixed;
  inset: 0 0 auto;
  z-index: 1000;
}

.nav,
.nav-list,
.nav-btns {
  display: flex;
}

.nav {
  align-items: center;
  justify-content: space-between;
  column-gap: 3rem;
  height: 4.5rem;
}

.nav-logo,
.nav-link,
.change-theme {
  color: var(--title-color);
}

.nav-logo {
  font-size: var(--h3-font-size);
  font-weight: var(--font-bold);
}

.nav-menu {
  margin-left: auto;
}

.nav-list{
  column-gap: 2.75rem;;
}

.nav-link {
  font-weight: var(--font-medium);
  transition: color 0.3s;
}

.nav-link:hover {
  color:var(--first-color) ;
}

.change-theme {
  font-size: 1.25rem;
  cursor: pointer;
}

.nav-btns{
  align-items: center;
  column-gap: 1rem;
}

.nav-close,
.nav-toggle {
  display: none;
}
/* Active link */
.active-link {
  color: var(--first-color);
}
/* Change background header */
.scroll-header {
  background-color: var(--body-color);
  box-shadow: 0 4px 4px  hsla(var(--first-hue), 0%, 4%, 0.2);
}


/*=============== MAIN ===============*/
.main {
  overflow: hidden;
}

/*=============== HOME ===============*/
.home-container {
  grid-template-columns: 1fr repeat(2, max-content);
  align-items: center;
  padding: 0.25rem;
}

.home-title {
  font-size: var(--big-font-size);
  line-height: 1;
  margin-bottom: 2rem;
}

.home-job  {
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
}

.home-description {
  font-size: var(--large-font-size);
  margin-block: 1.5rem 2rem;
}

.home-img-wrapper {
  width:clamp(14rem, 5.3402rem + 39.5876vw, 38rem);
  background: linear-gradient(to bottom, rgba(129, 177, 239, 0.437), rgb(106, 211, 227));
  border-radius: 65% 35% 54% 46% / 42% 34% 66% 58% ;
  overflow: hidden;
}

.home-social {
  row-gap: 1rem;
}

.home-social-link {
  color: var(--text-color);
  font-size: var(--larger-font-size);
  transition: color 0.3s;
}

.home-social-link:hover {
  color: var(--first-color);
}
/*=============== ABOUT ===============*/
.about-container {
    grid-template-columns:4fr 3fr 4fr;
    align-items: center;
    column-gap: 4rem;
}

.about-experience {
  row-gap: 2rem;
}



.about-no {
  font-size: var(--large-font-size);
  text-align: center;
}

.about-title {
  font-size: var(--large-font-size);
  text-align: center;
}

.about-description {
  font-size: var(--h2-font-size);
  margin-bottom: 2rem;
}

.text-gradient {
  -webkit-text-fill-color: hsla(var(--second-hue), 8%, 85%, 0.2);
  background: linear-gradient(to bottom, rgba(129, 177, 239, 0.437), rgb(106, 211, 227));
  background-clip: text;
  background-size: 0% 100%;
  background-repeat: no-repeat;
}

.about-data {
  row-gap: 2rem;
}

.about-item-no {
  font-size: var(--h2-font-size);
  margin-bottom: o.125rem;
}
/*=============== SKILLS ===============*/
.section-title {
  text-align: center;
  font-size:var(--h1-font-size);
  margin-bottom: 4.25rem;
}

.skills-container {
  grid-template-columns:repeat(2, max-content);
  justify-content: center;
  gap: 10rem;
}

.skills-title {
  text-align: center;
  font-size: var(--h3-font-size);
  margin-bottom: 3rem;
}

.skills-items {
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.skills-data {
  text-align: center;
}

.skills-blob {
  width: 90px;
  height: 110px;
  background-color: var(--container-color);
  border-radius: 3rem;
  display: grid;
  place-items: center;
  margin-inline: auto;
}

.skills-ima {
  width: 40px;
}

.skills-name {
  font-size: var(--large-font-size);
  margin-block: 1rem 0.25rem;
}

.skills-level {
  font-size: var(--small-font-size);
}
/*=============== ACHIVEMENT ===============*/
.achivements-container {
  grid-template-columns: repeat(2, 1fr);
  gap: 1.75em;
}

.achivements-card {
  background: var(--container-color);
  padding: 2rem;
  border-radius: 2rem;
  transition: background 0.3s;
}
.achivements-card:hover {
  background:linear-gradient(to bottom, rgba(129, 177, 239, 0.437), rgb(106, 211, 227));
  color: rgb(165, 239, 239);
}

.achivements-title {
  font-size: var(--h3-font-size);
  margin-block: 1.25rem 0.75rem;
}

.achivements-description {
  font-size: var(--large-font-size);
}
/*=============== CONTACT ===============*/
.contact {
  padding-bottom: 8rem;
}

.contact-container {
  grid-template-columns: 5.5fr 6.5fr;
  column-gap: 2rem;
}

.contact-section-title {
  text-align:left;
}

.contact-data {
  row-gap: 2rem;
}
 
.contact-item {
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  column-gap: 1.5rem;
}

.contact-icon {
  width: 68px;
  aspect-ratio: 1/1;
  background: linear-gradient(to bottom, rgba(129, 177, 239, 0.437), rgb(106, 211, 227));
  border-radius: 50%;
  display: grid;
  place-items: center;
  color: var(--white-color);
  font-size: 2rem;
}

.contact-title {
  font-size: var(--large-font-size);
  margin-bottom: 0.25rem;
}

.contact-form {
  row-gap: 3rem;
  margin-top: 1rem;
  position: relative;
}

.contact-form-div {
  display: grid;
  row-gap: 0.75rem;
}

.contact-label {
  color: var(--title-color);
  font-size: var(--large-font-size);
  font-weight: var(--font-semi-bold);
}

.contact-input {
  color: var(--title-color);
  border-bottom: 3px solid var(--title-color);
  padding-inline: 0.25rem;
  height: 50px;
}

.contact-area {
  resize: none;
  height: 200px;
}

.contact-button {
  justify-self: start;
  margin-top: 1rem;
}

.contact-message {
  position: absolute;
  bottom: 5.5rem;
  left: 0;
  color: var(--title-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}
/*=============== FOOTER ===============*/

.footer {
  background-color: var(--container-color);
  padding-block: 2rem;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-social {
  display: flex;
  column-gap: 1rem;
}

.footer-link {
  color: var(--title-color);
  font-size: var(--large-font-size);
  transition: color 0.3s;
}

.footer-link:hover {
  color: var(--first-color);
}

.footer-copyright {
  font-weight: var(--font-semi-bold);
}

.footer-copyright span {
  color: var(--first-color);
}
/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1208px) {

  .home-social-link {
    font-size: var(--large-font-size);
  }

  .about-container {
    column-gap: 3rem;
  }

  .about-experience {
    width: 260px;
    height: 400px;
  }

  .achivements-container {
    gap: 1.5rem;
  }

  .skills-container {
    column-gap:6rem;
  }

  .skills-items {
    gap: 2.75rem 3rem;
  }

  .contact-icon {
    width: 58px;
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 1024px) {
  .nav {
    height: 3.75rem;
  }

  .nav-toggle,
  .nav-close {
    display: inline-flex;
    color: var(--title-color);
    font-size: 1.25rem;
    cursor: pointer;
  }

  .nav-menu {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: hsla(var(--first-hue), 0%, 4%, 0.4);
    width: 55%;
    height: 100%;
    padding: 5rem 0 0 3rem;
    backdrop-filter: blur(24px);
    transition: right 0.3s;
  }

  .show-menu {
    right: 0;
  }

  .nav-list {
    flex-direction: column;
    row-gap: 3rem;
  }

  .nav-close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
  }

  .section {
    padding-block: 5rem 2rem;
  }

  .home-container {
    grid-template-columns: max-content 1fr;
    gap: 2rem 4rem;
    padding-top: 2rem;
  }

  .home-img-wrapper {
    order: 2;
  }

  .home-data {
    order: 3;
    grid-column: 1/3;
  }

  .home-title {
    font-size: 3.5rem;
    margin-bottom: 1rem;
  }

  .home-job {
    font-size: 1.75rem;
  }

  .home-description {
    font-size: var(--large-font-size);
  }

  .about-container {
    grid-template-columns: 1fr;
    row-gap: 10rem;
  }

  .skills-container {
    grid-template-columns: initial;
    row-gap: 3.5rem;
  }

  .skills-items {
    row-gap: 2.5rem;
  }

  .contact {
    padding-bottom: 5rem;
  }

  .contact-container {
    grid-template-columns: 620px;
    justify-content: center;
    row-gap: 2rem;
  }

  .contact-section-title {
    text-align: center;
  }

  .contact-form {
    margin-top: 0;
  }

  .footer-container {
    flex-direction: column;
    row-gap: 0.75rem;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .nav-menu {
    width: 75%;
  }
  
  .home-container {
    column-gap: 3rem;
  }

  .section-title {
    margin-bottom: 3.5rem;
  }

  .achivements-container {
    grid-template-columns: 405px;
    justify-content: center;
  }

  .skills-blob {
    width: 80px;
    height: 100px;
  }

  .contact-container {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 576px) {
  .home-container {
    column-gap: 1.75rem;
  }
}

/* For small devices */
@media screen and (max-width: 460px) {
  .container {
    padding-inline: 1rem;
  }

  .achivements-container {
    grid-template-columns: 1fr;
  }

  .achivements-card {
    padding: 1.75rem;
  }
}
